<!DOCTYPE html>
<html lang="en">
<html>
   <body>
        <div>
            <form action = "http://localhost:5000/home/add" method = "POST" enctype = "multipart/form-data">
                 <input type = "file" name = "file" />
                 <input type = "text"  name="item_name" />
                 <input type = "text"  name="location" />
                 <input type = "text"  name="descrip" />
                 <input type = "text"  name="datee" />
                 <input type = "submit"/>
            </form>
         </div>
   </body>
</html>